.contain{
  width:100%;
  overflow: hidden;
}
.top-nav{
  width: 100%;
  height: 40px; 
  line-height: 40px;
  background-color:#e8ae76;
}
.top-nav>li:first-child{
  margin-left: 8rem;
}
.top-nav>li:not(:first-child){
  margin-left: 2rem;
}
a{
  color: aliceblue;
  text-align: center;
}
.classify{
  width:180px;
  height: 40px;
  display: block;
  background:#3b3b3b;
  color: #fff;
  padding-left:25px;
  cursor: pointer;
  
}
a:hover{
  text-decoration: none;
  color: #000;
}
.all-list{
  /* color: #e8ae76; */
  position: absolute;
  z-index: 1;
}
.allList{
  display: none;
}
.meun-list{
  width: 180px;
  height:40px;
  font-size: 18px;
  /* background: url("../img/index/menu.png") no-repeat; */
  margin-left: 160px;
  
}
.all-list-sort{
  height:100%;
  background: url("../img/index/menu.png") 0 0 no-repeat;
  padding-top: 4px;
  padding-left:58px;
}
.new-sort1{
  height:100%;
  background: url("../img/index/menu.png") 0 -35px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort2{
  height:100%;
  background: url("../img/index/menu.png") 0 -70px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort3{
  height:100%;
  background: url("../img/index/menu.png") 0 -106px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort4{
  height:100%;
  background: url("../img/index/menu.png") 0 -137px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort5{
  height:100%;
  background: url("../img/index/menu.png") 0 -171px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort6{
  height:100%;
  background: url("../img/index/menu.png") 0 -209px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort7{
  height:100%;
  background: url("../img/index/menu.png") 0 -244px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
.new-sort8{
  height:100%;
  background: url("../img/index/menu.png") 0 -280px no-repeat;
  padding-top: 4px;
  padding-left:55px;
}
#carsoul{
  width:1150px;
  overflow: hidden;
  margin: 0px auto 0px;
  z-index: 1;
}
#carsoulImg{
  list-style: none;
  display: flex;
}
/* .carsoul>li>a img{
  width:1050px;
  margin-right: 78px;
}   */
.right-list{
  width:140px;
  margin:0 auto;
  list-style:none;
  position:absolute;
  bottom:-70px;
  left:50%;
  margin-left:-50px;
}
.right-list>li{
  float:left;
  width:10px; height:10px;
  background-color:#fff;
  border-radius:5px;
  margin:0 5px;
  cursor:pointer;
}
.right-list>li.active{
  background-color: coral;
}
.all-list-sort:hover{
  background: url("../img/index/menu.png") -190px 0 no-repeat;
  transition: all .5s linear;
}
.new-sort1:hover{
  background: url("../img/index/menu.png") -190px -35px no-repeat;
  transition: all .5s linear;
}
.new-sort2:hover{
  background: url("../img/index/menu.png") -190px -70px no-repeat;
  transition: all .5s linear;
}
.new-sort3:hover{
  background: url("../img/index/menu.png") -190px -106px no-repeat;
  transition: all .5s linear;
}
.new-sort4:hover{
  background: url("../img/index/menu.png") -190px -137px no-repeat;
  transition: all .5s linear;
}
.new-sort5:hover{
  background: url("../img/index/menu.png") -190px -171px no-repeat;
  transition: all .5s linear;
}
.new-sort6:hover{
  background: url("../img/index/menu.png") -190px -209px no-repeat;
  transition: all .5s linear;
}
.new-sort7:hover{
  background: url("../img/index/menu.png") -190px -244px no-repeat;
  transition: all .5s linear;
}
.new-sort8:hover{
  background: url("../img/index/menu.png") -190px -280px no-repeat;
  transition: all .5s linear;
}
#lunbotu{
  width:100%;
}
h4{
  display: inline-block;
}
.daykills{
 font: 20px "Blackadder ITC";
}
.day-list{
  width:1150px;
  height:428px;
  background: #fbda4f;
}
.day-contain{
  height:470px;
  margin-left: 100px;
  margin-top: 40px;
}
.day-all{
  position: relative;
  list-style: none;
  top:-420px;
  left: 280px;
  display: flex;
  flex-wrap: wrap;
}
.day-all>li{
  width:190px;
  height:190px;
  background: #fff;
  margin-right: 20px;
}
.day-all>li>img{
  margin-left: 25px;
  margin-top: 5px;
}
.name{
  color:#000;
  font-size: 12px;
  /* text-overflow: ellipsis; */
  margin-left: 20px;
}
.price{
  color:red;
  font-size: 12px;
}
.Sales{
  margin-left: 54px;
  margin-top: 24px;
}
.saleFood{
  width:1200px;
}
.saleFood>ul{
  list-style: none;
  display: flex;
  margin-bottom: 3px;
}
.saleFood>ul>li{
  width:351px;
  height:320px;
  background: #fff;
  margin-right: 3px;
}
.saleFood>ul>li img{
  width:220px;
  margin-left: 28px;
  margin-top: 10px;
}
.Sales>h4{
  margin-left: 40px;
}
.saleFood>ul>li a{
  color:#000;
  font-size: 12px;
  padding-left: 40px;
}
.saleFood>ul>li p{
  color:red;
  font-size: 20px;
  margin-left: 91px;
}
.only{
  margin-left: 40px;
}
.bottomImg{
  margin-left: 38px;
}
.bottomImg>img{
  width:384px;
}
.hot{
  margin-left: 54px;
  margin-top: 24px;
}
.hotFood{
  width:1200px;
}
.hotFood>ul{
  list-style: none;
  display: flex;
  margin-bottom: 3px;
}
.hotFood>ul>li span{
  display: block;
  width:63px;
  height:62px;
  background: url("../img/index/head.png") -383px -338px no-repeat;
}
.hotFood>ul>li{
  width:351px;
  height:320px;
  background: #fff;
  margin-right: 3px;
}
.hotFood>ul>li img{
  width:220px;
  margin-left: 42px;
  margin-top: -30px;
}
.hotFood>ul>li a{
  color:#000;
  font-size: 12px;
  padding-left: 52px;
}
.hotFood>ul>li p{
  color:red;
  font-size: 20px;
  margin-left: 91px;
}
.hotBottom{
  width:1157px;
  margin-top: 20px;
  margin-left: 39px;
}
.childList{
  margin-left: 10px;
  position: absolute;
}








